<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Circle</title>
  </head>
  <body>
    <form action="/circ">
      <input
        type="text"
        id="radius"
        value="radius"
        name="radius"
        placeholder="Enter Radius"
      />
      <br />
      <button type="submit" id="btn" value="area" name="btn">
        Calculate Area
      </button>
      <br />
      <button type="submit" id="btn" value="circumference" name="btn">
        Calculate Circumference
      </button>
      <br />
      <button type="submit" id="btn" value="diameter" name="btn">
        Calculate Diameter
      </button>
    </form>
  </body>
</html>
